.btnRight {
    width: 100px;
    font-size: 20pt;
    padding: 10pt;
}

.btnLeft {
    width: 100px;
    font-size: 20pt;
    padding: 10pt;
}

.heroImg {
    width: 576px;
    height: 384px;
    position: relative;
    top: 0px;
    left: -96px;
    transform: scale(-1, 1);
}

.imgBlock {
    width: 96px;
    height: 96px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    bottom: 64px;
}

.fsBtn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.canvas {
    background-color: white;
}

.jumpBlockStyle {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 144px;
    height: 144px;
    opacity: 0.5;
}

.jumpBtn {
    position: absolute;
    top: -144px;
    left: -144px;
    width: 864px;
    height: 576px;
    transform: scale(-1, 1);
}

.borderJumpBtn {
    position: absolute;
    top: -0;
    left: -0;
    width: 140px;
    height: 140px;
    border: 2px solid blue;
    border-radius: 50%;
}

.hitBlockStyle {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 144px;
    height: 144px;
    opacity: 0.5;
}

.hitBtn {
    position: absolute;
    top: -452px;
    left: -442px;
    width: 864px;
    height: 576px;
    transform: scale(-1, 1);
}

.borderHitBtn {
    position: absolute;
    top: -0;
    left: -0;
    width: 140px;
    height: 140px;
    border: 2px solid blue;
    border-radius: 50%;
}

.backStyle {
    position: absolute;
    left: 0;
    bottom: 64px;
    width: 100%;
}

.infoStyle {
    display: none;
    position: absolute;
    left: 64px;
    top: 96px;
    background-color: black;
    color: white;
    font-size: 20pt;
}
